<div class="column">
	<h3>Acknowledgements</h3>
    <p>
  	  This website illustrates the experience and the progress of <b>Breathing Games</b> within the <b>opencare Maker in Residence</b>,
	  which took place in WeMake from 21/06 to 08/07/2017.</b>
    </p>
  <h2>Our core values</h2>
  <p>
	  We create <b>educational</b> and <b>therapeutic games</b>, <b>devices</b> to measure the breathe and <b>distributed data systems</b> to inform public health practices, and policies.
	  We create a commons – collectively managed resources that are freely accessible and can be used and enriched by everyone – by spurring <b>collaboration</b> between people affected,
	  caregivers and passionate professionals to build on the <b>collective intelligence.</b>
  </p>
</div>
