<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<footer class="site-footer">
  <span class="site-footer-owner">
    This website is maintained by <a href="https://wemake.cc">WeMake</a> and <a href="https://github.com/opencarecc/breathinggames">Breathing Games</a> as part of the <a href="https://opencare.cc">opencare</a> project
    and as a result of the <a href="http://wemake.cc/opencare/maker-in-residence-en/">opencare Maker in Residence.</a>

  </span>

  <div>
    <p class="site-footer-credits"><b>opencare</b> project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 688670.</p>
    <img src="http://opencarecc.github.io/MicroWebsiteTemplate/assets/OC-EC-H2020.jpg">
  </div>
</footer>
