<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">Breathing Games</h1>
    <h2 class="project-tagline">promotes respiratory health by encouraging each citizen to take care of their health.</h2>
    <a href="https://github.com/opencarecc/breathinggames" class="btn">View on GitHub</a>
    <a href="https://github.com/opencarecc/breathinggames/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/opencarecc/breathinggames/wiki" class="btn">Build your own!</a>
  </div>
</section>
