<div class="column">
  <h2>Open Source</h2>
  <img src="https://opencarecc.github.io/breathinggames/assets/Open-Source-Initiative-logo.png" class="pull-left margin-right-35">
  <p>Breathing Games is a member of the <a href="https://opensource.org/node/829">Open Source Initiative</a> and a signatory of the <a href="https://www.unglobalcompact.org/what-is-gc/participants/84281">United Nations Global Compact</a>
	  – a call to align organizations with universal principles on human rights, labour, environment and anti-corruption.</p>
</div>
