<div class="column">
	<h2>Release* 0.3 - 2017/07/12</h2>
	<ul>
		<li><b>Project Name:</b></li>
		<dd>Breathing Games</dd>
		<li><b>Stakeholders:</b></li>
		<dd>Individuals with chronic respiratory diseases</dd>
		<dd>Caregivers</dd>
		<dd>Passionate professionals</dd>
		<dd>Doctors (MD, physicians, specialists)</dd>
		<li><b>The problem:</b></li>
		<dd>Lack of information</dd>
		<dd>Lack of education and healthy habits</dd>
		<li><b>The outcomes:</b></li>
		<dd>Review of literature</dd>
		<dd>Modulable kit to test different pressure and flow sensors</dd>
		<dd>Build a pump to calibrate the sensors</dd>
		<dd>Enhance the Breathing Games website</dd>
		<li><b>Link:</b></li>
		<dd><a href="https://edgeryders.eu/t/successful-maker-in-residence-for-breathing-games/6489">MIR outcomes</a> 12/07/2017</dd>
	</ul>
	<p>
		<a href="https://github.com/opencarecc/breathinggames/wiki">
			<em>More details »</em>
		</a>
	</p>
		<p class="font_size_12">
			*'Release' shall mean the current state of the project. The outcomes of each sprint activity.
		</p>
</div>
