<div class="column">
  <div class="img_slider">
    <!-- {% for item in site.data[page.lang].lang["slick"]["pics"] %}
      <img src="{{ item.pic }}">
    {% endfor %} -->
    <img src="{{ site.baseurl }}/assets/VI-slider-img-01.jpg">
    <img src="{{ site.baseurl }}/assets/VI-slider-img-02.jpg">
    <img src="{{ site.baseurl }}/assets/VI-slider-img-03.jpg">
    <img src="{{ site.baseurl }}/assets/VI-slider-img-04.jpg">
    <img src="{{ site.baseurl }}/assets/VI-slider-img-05.jpg">
    <img src="{{ site.baseurl }}/assets/VI-slider-img-06.jpg">
    <img src="{{ site.baseurl }}/assets/VI-slider-img-07.jpg">
  </div>

  <!-- slider caption -->
  <p>{{ site.data[page.lang].lang["slick"]["description"] }}</p>
</div>
