<div class="column">
	<div class="img_slider">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-1.jpg">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-2.jpg">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-3.jpg">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-4.jpg">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-5.jpg">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-6.jpg">
	  <img src="https://opencarecc.github.io/breathinggames/assets/BG-slider-img-mir-7.jpg">
	</div>
<p>Some moments from the <b>opencare Maker in Residence</b> of Breathing Games.</p>
</div>
