<div class="column video">
	<p>Watch the report of our residence at <b>opencare</b> – WeMake Milan</p>
	<div class='embed-container'><iframe src='https://www.youtube.com/embed/jmV-Dwhqfd0' frameborder='0' allowfullscreen></iframe></div>
	<p>Other videos on our <a href="https://www.youtube.com/channel/UC2bK-LCBKF3SeFATwgg3U6g">YouTube Channel</a>. Also watch our <a href="https://docs.google.com/presentation/d/11CyVAt-zi4JrEKac8qSZEndXUDkbTveU3VzLYXjnJhU/embed?start=false&loop=false&delayms=10000&slide=id.g1da9938a96_2_45">visual presentation!</a></p>
</div>
